.signup{
    display: flex;
    width: 100%;
    align-items: end;
    padding-bottom: 40px;
    gap: 30px;
}
.back{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(236, 235, 235, 0.9);
    color: black;
    padding: 40px;
    border-radius: 20px;
    margin-top: 10%;

}
.sign-btn{
    background-color: rgb(37, 169, 235);
    width: 95%;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
}