
body {
    padding: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    /*background-image: url('Appointment/src/main/doc.png'), url('https://img.freepik.com/free-photo/health-still-life-with-copy-space_23-2148854031.jpg?semt=ais_hybrid');*/
    background-position: 85% 70px, center;
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    position: relative;
}


.text {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.615);
    position: absolute;
    top: 45%;
    left: 35%;
}


.box {
    width: 50%;
    height: 10vh;
    border-radius: 15px;
    border: 2px solid rgb(183, 182, 182);
    background-color: rgba(255, 255, 255, 0.882);
    color: rgba(51, 82, 194, 0.851);
    margin: 20px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.4s ease;
    position: relative;
    top: 420px;
    left: 250px;
    box-shadow: 0 4px 8px rgba(236, 235, 235, 0.9);
    color: #333;
    padding: 20px;
    font-size: 18px;

}


.box:hover {
    background-color: rgba(91, 115, 204, 0.705);
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -330px;
    margin-right: 180px;
    gap: 50px;

}

.info {
    position: relative;
    top: 350px;
    left: 50px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.678);
}
.button{                                
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 0px;
}